{% extends 'hotel/base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid bg-secondary" style="height: 100vh;">
    <div class="row  h-100">
        <div class="col-lg-7 my-auto">
            <img class='img-fluid my-auto d-block img-thumbnail border' src="{% static 'hotel/img/room.jpg' %}"
                alt="...">
        </div>
        <div class="col-lg-5 my-auto">
            <div class=" row">
                <div class="col-12 mx-auto">
                    <a href="{% url 'booking_list' %}" class="my-3 btn btn-danger btn-block">Back to Bookings</a>
                    <div class="jumbotron jumbotron-fluid">
                        <div class="container">
                            <h1 class="display-6 text-center">Cancel your Booking for {{ booking.get_room_category }}
                                Suite Room</h1>
                            <p class="lead text-center">
                                Luxury room with {{ room.beds }} beds and capacity for {{ room.capacity }} people
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-11 mx-auto card py-2">
                    <div class="card-body">
                        <h6>Booking Details:</h6>
                        <p>From: {{ booking.check_in }}</p>
                        <p>To: {{ booking.check_out }}</p>
                    </div>
                    <form method="POST" action="">
                        {% csrf_token %}
                        <!-- Input Div -->
                        <!-- Input Div -->
                        <button type="submit" class="btn btn-warning btn-block">Cancel Booking</button>
                    </form>

                </div>

            </div>

        </div>
    </div>
</div>

{% endblock content %}