{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid bg-secondary">
    <div class="jumbotron jumbotron-fluid  bg-dark text-light">
        <div class="container">
            <h1 class="display-4 text-center">Hotel</h1>
        </div>
    </div>
    <div class="row">
        {% for room_category, room_url in room_list %}
        <div class="col-lg-4 col-md-6 col-sm-10">
            <div class="card m-2 shadow-secondary">
                <img src="{% static 'hotel/img/room.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ room_category }} Suite</h5>
                    <p class="card-text">

                    </p>
                    <a href="{{ room_url }}" class="btn btn-outline-info btn-block">Book
                        a Room</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}